<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rensanning.cordova.todo" version="0.0.1" 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ToDo管理</name>
    <description>
      Ionic Framework-based ToDo list app.
    </description>
    <author email="rensanning@gmail.com" href="http://www.weibo.com/rensanning">
      rensanning
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="SplashScreen" value="splash" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
</widget>
